<head>
  <title>BaoTimer</title>
</head>
<body>
  <header>
    <span>BNP Paribas CIB</span>
  </header>

  <main>
    <div class="left-body">
      <h1>Standup Timer</h1>
    </div>

    <div class="right-body">
      <div id="meeting-option">
        <div class="timer" id="meeting-duration">
          <span>The meeting duration will be </span>
          <time>{{meetingDuration | timeFormat}} </time>
          <button class="clickable" (click)="changeMeetingDuration(60)">+1min</button>
          <button class="clickable" (click)="changeMeetingDuration(-60)">-1min</button>
          <button class="clickable" (click)="changeMeetingDuration(30)">+3Os</button>
          <button class="clickable" (click)="changeMeetingDuration(-30)">-30s</button>
        </div>

        <div class="timer">
          <label for = "NumberSpeaker" class="parameter">There are </label>
          <input [ngModel]="nbSpeakers" (ngModelChange)="onNumberSpeakerChange($event)" type="number" id="NumberSpeaker" min="1" max="100" />
          <span> speakers</span>
        </div>


        <div class="timer" id="talking-duration">
          <span>Each speaking for </span>
          <time>{{talkingDuration | timeFormat}} </time>
          <button class="clickable" (click)="changeTalkingDuration(30)">+30s</button>
          <button class="clickable" (click)="changeTalkingDuration(30)">-30s</button>
        </div>
      </div>


      <h3> Allow overtime when a speaker's time is up</h3>

      <div class="overtime-container">
        <input class="radio" type="radio" id = "OvertimeAlways" name="overtime" [(ngModel)]="overtime" value="always">
        <label for="OvertimeAlways"> Always </label>
        <input class="radio" type="radio" id = "OvertimeOptional" name="overtime"  [(ngModel)]="overtime" value="optional">
        <label for="OvertimeOptional"> Optional </label>
        <input class="radio" type="radio" id = "OvertimeNever" name="overtime" [(ngModel)]="overtime" value="never">
        <label for="OvertimeNever"> Never </label>
      </div>

      <nav>
        <a class="create-meeting" (click)="sendMeetingData()" routerLink="/meeting-room">Create Meeting</a>
      </nav>
    </div>
  </main>

  <footer>
    BNP Paribas CIB
  </footer>
</body>

