<head>
  <title>BaoTimer</title>
</head>
<body>
  <header>
    <span>BNP Paribas CIB</span>
  </header>

  <main>
    <div class="left-body">
      <h1 class="title">Standup Timer</h1>
      <img class="gif" src="/assets/gifs/itswork.webp" alt="shit">
    </div>

    <div class="right-body">
      <div class="meeting-option">
        <div class="timer" id="meeting-duration">
          <div class="timer-information">
            <span>The meeting duration will be </span>
            <time>{{meetingDuration | timeFormat}} </time>
          </div>
          <div class="clickable-container">
            <button class="clickable" (click)="changeMeetingDuration(60)">+1min</button>
            <button class="clickable" (click)="changeMeetingDuration(-60)">-1min</button>
            <button class="clickable" (click)="changeMeetingDuration(30)">+3Os</button>
            <button class="clickable" (click)="changeMeetingDuration(-30)">-30s</button>
          </div>
        </div>

        <div class="timer">
          <label for = "NumberSpeaker" class="parameter">There are </label>
          <input [ngModel]="nbSpeakers" (ngModelChange)="changeSpeaker($event)" type="number" id="NumberSpeaker" min="1" max="100" />
          <span> speakers</span>
        </div>


        <div class="timer" id="talking-duration">
          <div class="timer-information">
            <span>Each speaking for </span>
            <time>{{talkingDuration | timeFormat}} </time>
          </div>
          <div class="clickable-container">
            <button class="clickable" (click)="changeTalkingDuration(30)">+30s</button>
            <button class="clickable" (click)="changeTalkingDuration(-30)">-30s</button>
          </div>
        </div>
      </div>

      <nav>
        <a class="create-meeting" (click)="sendMeetingData()" routerLink="/meeting-room">Create Meeting</a>
      </nav>
    </div>
  </main>

  <footer>
    v0.1 Built by Bao
  </footer>
</body>

