<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<head>
  <title>BaoTimer</title>
</head>

<header>
  <h1>Standup Timer App</h1>
</header>

<body>
<div>
  <div id="meeting-option">
    <div class = "timer" id="meeting-duration">
      <span>The meeting duration will be </span>
      <time>{{meetingDurationMinutes}}:{{meetingDurationSeconds}}</time>
      <span> minutes</span>
      <button (click)="changeMeetingDuration(1, 0)">+1min</button>
      <button (click)="changeMeetingDuration(-1, 0)">-1min</button>
      <button (click)="changeMeetingDuration(0,30)">+3Os</button>
      <button (click)="changeMeetingDuration(0,-30)">-30s</button>
    </div>

    <label for = "NumberSpeaker" class="parameter">There are </label>
    <input [ngModel]="nbSpeakers" (ngModelChange)="onNumberSpeakerChange($event)" type="number" id="NumberSpeaker" min="1" max="100" />
    <span> speakers</span>

    <div class = "timer" id="talking-duration">
      <span>Each speaking for </span>
      <time>{{talkingDurationMinutes}}:{{talkingDurationSeconds}}</time>
      <span> minutes</span>
      <button (click)="changeTalkingDuration(0,30)">+30s</button>
      <button (click)="changeTalkingDuration(0,-30)">-30s</button>
    </div>
  </div>


  <h3> Allow overtime when a speaker's time is up</h3>

  <div>
    <input type = "radio" id = "OvertimeOptional" name = "optional" >
    <label for = "OvertimeOptional">Optional</label>
    <input type = "radio" id = "OvertimeAlways" name = "optional">
    <label for = "OvertimeAlways">Always</label>
    <input type = "radio" id = "OvertimeNever" name = "optional">
    <label for = "OvertimeNever">Never</label>
  </div>

  <nav>
    <a (click)="sendMeetingData()" routerLink="/meetingroom">Create Meeting</a>
  </nav>

</div>

</body>

<footer>
  This is a footer
</footer>
