<header>
  <nav>
    <a routerLink="/home">Cancel Meeting</a>

  </nav>
</header>
<body>
  <h1>Speaker {{currentSpeaker}}</h1>

  <span> </span>
  <time> Meeting {{(durationService.time$ | async) ?? 0 | timeFormat}} out of {{durationService.data.meetingDuration | timeFormat}}</time>
  <time> Talking {{(durationService.talkingTime$ | async) ?? 0 | timeFormat}} out of {{durationService.data.talkingDuration | timeFormat}}</time>
  <br>
  <span>Timer should be here</span>
  <time> of </time>

  <br>
  <button (click)="durationService.pauseTimer()">Pause timer</button>
  <button>Next Speaker</button>
  <button (click)="durationService.startTimer()">Start timer</button>

</body>
