<header>
  <nav>
    <a routerLink="/home">Cancel Meeting</a>

  </nav>
</header>
<body>
  <h1>Speaker {{currentSpeaker}}</h1>

  <span>Meeting Duration </span>
  <time>{{currentMeetingDurationMinutes}}:{{currentMeetingDurationSeconds}} of {{data.meetingDurationMinutes}}:{{data.meetingDurationSeconds}}</time>
  <br>
  <span>Talking Duration </span>
  <time>{{currentTalkingDurationMinutes}}:{{currentMeetingDurationSeconds}} of {{data.talkingDurationMinutes}}:{{data.talkingDurationSeconds}}</time>

  <br>
  <button (click)="pauseTimer()">Pause timer</button>
  <button (click)="onClickNextSpeaker()">Next Speaker</button>
  <button (click)="startTimer()">Start timer</button>

</body>
