<body>
  <header>
    <nav>
      <a class="cancel-meeting" routerLink="/home">Cancel Meeting</a>
    </nav>
  </header>

  <main>
    <span class="speaker">Speaker {{currentSpeaker}}</span>

    <div class="stopwatch">
      <span class="timer-label">Meeting</span>
      <time>{{(durationService.time$ | async) ?? 0 | timeFormat}} of {{durationService.data.meetingDuration | timeFormat}}</time>
      <span class="timer-label">Talking Duration</span>
      <time>{{(durationService.talkingTime$ | async) ?? 0 | timeFormat}} of {{durationService.data.talkingDuration | timeFormat}}</time>
    </div>

    <time>Timer</time>


    <br>
    <div class="button-container">
      <button class="timer-button" (click)="durationService.startTimer()">Start timer</button>
      <button class="timer-button" (click)="durationService.pauseTimer()">Pause timer</button>
      <button class="timer-button" >Next Speaker</button>
    </div>
  </main>

  <footer>
    BNP Paribas CIB
  </footer>
</body>


